@media (max-width : 992px)
{
	header img 
	{
		margin-bottom: 10px;
	}
}
body
{
	background: url('../img/background.png') no-repeat fixed;
	background-size: cover;
}

.container-fluid
{
	padding-right: 0;
	padding-left: 0;
}

#navbar
{
	padding-left: 0;
}

@media (max-width: 768px)
{
	#navbar
	{
		padding-left: 15px;
	}
}

#headerGreen
{
	margin-top: 50px;
}

#navGreen
{
	background: #4aaf67;
	text-transform: uppercase;	
	font-weight: bold;
	border-radius: 0px;
	border: #4aaf67 1px solid;
	margin-top: 23px;
	margin-bottom: 0px;
	padding-right: 0;
}

#navGreen li:hover
{
	background: #1d933c;
}

#btnEspaceClient li
{
	text-transform: none;
	text-align: center;
	position: relative;
	cursor: pointer;
}

#btnEspaceClient li
{
	width: 250px;
}

#menuEspaceClient
{
	text-transform: none;
	width: 250px;
	top: 51px;
	position: absolute;
	background: rgba(255,255,255,.90);
	z-index: 100;
	padding: 8px;
}

#menuEspaceClient input
{
	margin-bottom: 5px;
}

#menuEspaceClient hr
{
	margin-top: 8px;
	margin-bottom: 10px;
}

#menuEspaceClient .checkbox
{
	text-align: left;
}

.btnform
{
	background: #4aaf67;
	color: white;
	width: 100%;
}

#navGreen a
{
	color: white;
}

#menuEspaceClient a
{
	color: black;
	text-decoration: underline;
	font-size: 10px;
}

#searchAside
{
	display: inline;
	width: 80%;
	margin-right: 3px;
}

#asideHeader
{
	background: #4aaf67;
	padding-left: 0px;
	padding-right: 0px;
}
#asideHeader div:hover
{
	background: #1d933c;
}

#mid
{
	border-top: 2px #1d933c solid;
	border-bottom: 2px #1d933c solid;
}

#asideHeader div
{
	padding: 10px;
}

#asideHeader a
{
	color: white;
	font-weight: bold;
}

#asideHeader span
{
	margin-left: 10px;
}

#divNav
{	
	padding-left: 0px;
	padding-right: 0px;
}

#corpsSection
{
	background: rgba(255,255,255,.90);

	margin-top: 0px;
}
#myCarousel
{
	margin-top: 30px;
	margin-bottom: 30px;
}

#divCar
{
	margin: 0px;
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
}

.carousel-indicators 
{
	top: 10px;
	left: 96%;
	height: 50px;
}

.carousel-control 
{
	width: 5%;
}

.carousel-caption
{
	bottom: 0px;
	padding: 0px;
	text-align: right;
	background: rgba(255,255,255,0.4);
	color: 
	width: 100%;
	left: 0;
	right: 0;
	height: 30%;
}

.carousel-caption h1, p
{
	color: black;
	padding-right: 40px;
}
.carousel-caption h1
{
	font-size: 30px;
	margin-bottom: 0;
	margin-top: 5px;
}

.carousel-caption h1
{
	font-weight: bold;
}

hr
{
	border-color: rgb(200,200,200);
	margin-bottom: 30px;
	margin-top: 30px;
}

#nouveaute
{
	background: url('../img/nouveautés.png') no-repeat;
	background-size: cover;
	display: inline-block;
	height: 190px;
	width: 190px;
}
#promotions
{
	background: url('../img/promotions.png')no-repeat;
	background-size: cover;
	display: inline-block;
	height: 190px;
	width: 190px;
}
#meilleurVente
{
	background: url('../img/meilleures ventes.png')no-repeat;
	background-size: cover;
	display: inline-block;
	height: 190px;
	width: 190px;
	left: 0;
}
#produitMoment
{
	background: url('../img/produits du moment.png')no-repeat;
	background-size: cover;
	display: inline-block;
	height: 190px;
	width: 190px;
}

.captionImg
{
    padding: 0;
    background: rgba(255,255,255,0.4);
    padding-top: 20px;
    height: 60px;
    margin-top: 68.5%;
    font-weight: bold;
}

.row2Div
{
	padding: 0;
	text-align: center;
}

.row2Div:hover .captionImg
{
	margin-top: 0px;
	transition: margin .6s, height	.6s, padding .6s, background .6s;
	height: 100%;
	padding-top: 90px;
	background: rgba(255,255,255,0.9);
}

@media (max-width : 990px)
{
	.row2Div
	{
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

#row2
{
	width: 100%;
	padding: 0;
}

#row2 hr
{
	margin-left: 10px;
    margin-right: 10px;
}

#row3 ul
{
	list-style-type:none;
	font-weight: bold;
	font-size: 10px;
}

#row3 a
{
	color: black;
}

#row3 h4
{
	margin-top: 0;
	margin-left: 30px;
	font-weight: bold;
	margin-bottom: 50px;
}

#divLeft
{
	padding-left: 20%;
}

#hrRow3
{
	margin-left: 30px;
	margin-right: 30px;
}

#row4 h4
{
	margin-top: 0;
	margin-left: 30px;
	font-weight: bold;
	margin-bottom: 50px;
}

#row4 li
{
	list-style: none;
	display: inline-block;
	border: 1px solid rgb(200,200,200);
	border-radius:5px;
	padding: 10px;
	margin-right: 15px;
	background-color: white;
}

#row5 p
{
	padding-right: 0;
	font-size: 15px;
	margin-bottom: 70px;
}

#headerFooter
{
	background: #444444;
	height: 40px;
	padding-left: 60px;
}

#headerFooter p
{
	margin-top: 12px;
    margin-bottom: 0;
}

#sectionFooter
{
	background: #565656;
	padding-top: 10px;
	padding-left: 60px;
}

#sectionFooter a
{
	color: white;
}

#footerFooter
{
	background: #686868;
	height: 25px;
}
#footerFooter p
{
	margin-top: 6px;
    margin-bottom: 0;
}

#footerGreen ul, #footerGreen p
{
	color: white;
	font-size: 11px;
	list-style: none;
}
#mail
{
	margin-right: 3px;
}
#footerGreen li
{
	margin-bottom: 10px;
}
#footerGreen ul
{
	padding-left: 0;
}

#catalogue a
{
	text-decoration: underline;
}

#contact a
{
	text-decoration: underline;
}

#paiement p
{
	margin-top: 15px;
}

#rowCatalogue ul
{
	list-style: none;
	padding-left: 10%;
}

#rowCatalogue h4
{
	margin-top: 30px;
	margin-left: 30px;
	font-weight: bold;
}

#rowCatalogue h5
{
	font-weight: bold;
}

#sousCategorie
{
	margin-bottom: 50px;
}

#rowCatalogue p
{
	margin: 50px;
	padding: 30px;
}

#totalProduit
{
	font-weight: bold;
}

.sectionProduit
{
	background: white;
	padding: 15px;
	margin: 30px;
}

.sectionProduit h5
{
	font-weight: bold;
}

#ajoutProduit
{
	background: none;
	height: 162px;
	border: 5px dashed #4aaf67; 
	border-radius: 5px;
	text-align: center;
}


#contact form
{
	color: #4aaf67;
	width: 50%;
	margin: auto;
	padding-bottom: 100px;
	padding-top: 30px;
}

#contact input, textarea
{
	margin-bottom: 10px;
	border: 2px solid #4aaf67;
}

#contact h3
{
	margin-bottom: 30px;
	font-weight: bold;
}

#contact .btn
{
	color: white;
	background-color: #4aaf67;
}

#contact textarea
{
	border: 2px solid #4aaf67;
}

#contact .form p
{
	padding: 10px;
	border: 1px #ebccd1 solid;
	border-radius: 5px;
	background-color: #f2dede;
	color: #a94442;
}

.alert-success
{
	width: 60%;
	margin-top: 200px;
	margin-bottom: 1000px;
	text-align: center;
}

#ajouter
{
	width: 50%;
	margin: auto;
}

#ajouter .form-control
{
	margin-bottom: 15px;
}

#ajouter .btn
{
	margin-bottom: 50px;
}

#formModifier .form-control
{
	margin-bottom: 15px;
}

#formModifier
{
	width: 50%;
	margin: auto;
}

#formModifier .btn
{
	margin-bottom: 50px;
}

